@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
    margin-top: 20px;
    font-family: "Fira Sans", sans-serif;
  }
  
  
  
  .link-block{
    color: #6368af;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 20px;
  }
  
  .dnerf {
    font-variant: small-caps;
  }
  
  
  .teaser .hero-body {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  
  .teaser {
    font-family: "Fira Sans", sans-serif;
  }
  
  
  .publication-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    /*line-height: 1.2;*/
    margin-bottom: 20px;
  }

 
  
  .publication-banner {
    max-height: parent;
  
  }
  
  .publication-banner video {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    object-fit: fit;
  }
  
.publication-links a {
  color: #858585 !important;  /* 你想设置的初始颜色 */
}

.publication-links a:hover {
  color: #6368af !important;  /* 可选：设置 hover 时颜色 */
}

  

  
  .publication-authors {
      font-family: "Fira Sans", sans-serif;
  }
  
  .publication-venue {
      color: #555;
      width: fit-content;
      font-weight: bold;
  }
  
  .publication-awards {
      color: #ff3860;
      width: fit-content;
      font-weight: bolder;
  }
  
  
  .publication-authors a {
    font-family: "Fira Sans", sans-serif;
     color: #6368af !important;
     font-weight: bolder;
  }
  
  .publication-authors a:hover {
      text-decoration: underline;
  }
  
  .author-block {
    display: inline-block;
    font-size: 1rem;
  }

  .author-affiliation-block {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .publication-banner img {
  }
  
  .publication-authors {
    /*color: #4286f4;*/
  }
  
  .publication-video {
      position: relative;
      width: 100%;
      height: 0;
      /*padding-bottom: 56.25%;*/
  
      overflow: hidden;
      border-radius: 10px !important;
  }
  
  .publication-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .publication-body img {
  }

  .section-title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #6368af;
  }
  .section-subtitle{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #6368af;
    position: relative;
    display: inline-block;
  }
  .section-subtitle::after {
  content: '';
  position: absolute;
  left: 8px;
  bottom: 2px; /* 微调位置，使其略偏下 */
  width: 100%;
  height: 10px;  /* 下划线的厚度 */
  background-color: #e5e5ec; /* 下划线的灰色背景色 */
  z-index: -1;  /* 放在文字下方 */
}

  .section-content{
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .custom-bullets {
  list-style-type: disc; /* 可选：circle, square, none */
  padding-left: 30px;
}

.custom-bullets li {
  color: #555;
  font-size: 0.9rem;
  margin: 5px; /* 调整每个列表项之间的间距 */
}

.highlight{
  color:#6368af;
  font-size: 0.9rem;
  font-weight: bold;
}


.highlight-brush {
  position: relative;
  line-height: 1.3;
  display: inline-block;
  padding: 0 4px;
}

.highlight-brush::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  transform: rotate(-0.5deg);
  width: 100%;
  height: 1em;
  background: #fdecef; /* 类似荧光笔颜色 */
  z-index: -1; /* 放在文字后面 */
  border-radius: 6px;
  pointer-events: none;
}




  .bibtex-title{
    font-family: "Fira Sans", sans-serif;
    color:#9d9b9b;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .results-carousel {
    overflow: hidden;
  }
  
  .results-carousel .item {
    margin: 5px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
  }
  
  .results-carousel video {
    margin: 0;
  }
  
  
  .interpolation-panel {
    background: #f5f5f5;
    border-radius: 10px;
  }
  
  .interpolation-panel .interpolation-image {
    width: 100%;
    border-radius: 5px;
  }
  
  .interpolation-video-column {
  }
  
  .interpolation-panel .slider {
    margin: 0 !important;
  }
  
  .interpolation-panel .slider {
    margin: 0 !important;
  }
  
 
  .footer{
    background-color: #f5f5f5;
    margin-top: 10px;
  }
  
.footer-content{
    font-family: "Fira Sans", sans-serif;
    font-size: 0.8rem;
    color: #858585;
    text-align: center;
  
}

  #interpolation-image-wrapper {
    width: 100%;
  }
  #interpolation-image-wrapper img {
    border-radius: 5px;
  }